div.IssueNavigation {
    position: absolute;
    overflow: auto;
    height: 100%;
}

div.PageView {
    position: absolute;
    overflow: auto;
    height: 100%;
}

div.CurrentPageImage img {
    max-width: 100%;
}